.home-container {
    display: grid;
    place-items: center;
    text-align: center;

    h3 {
        font-family: Brush-King;
        user-select: none;
        margin-bottom: 2rem;
    }

    .basic-info-container {
        margin-top: 2rem;

        div {
            margin: 5px;
            align-items: center;
        }
    }

    .stats-container {
        display: grid;
        place-items: center;


        .stats {
            margin-top: 2rem;

            div {
                margin: 5px;
            }
        }
    }
}