@import '@fontsource/roboto';

body {
  font-family: "Roboto";
}

@font-face {
  font-family: "Creepshow";
  src: url("@/assets/fonts/Creepshow.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brush-King";
  src: url("@/assets/fonts/Brush\ King.otf");
  font-weight: normal;
  font-style: normal;
}